@keyframes marquee {
  from {
    transform: translateX(75%);
  }
  to {
    transform: translateX(-125%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(-225%);
  }
}
