@keyframes marquee {
  from {
    transform: translateX(75%);
  }
  to {
    transform: translateX(-125%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(-225%);
  }
}

@keyframes marquee3 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee4 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(-300%);
  }
}
