@charset "utf-8";

// Customization

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #091344;
// Add pink and its invert
$pink: #fc3fff;
$pink-invert: #fff;
// Update the font families
$family-sans-serif: 'Fira Mono', monospace;
$title-family: $family-sans-serif;
$title-weight: 500;

$link: $black;
$text: $black;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $blue;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma and additional Sass
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "mixins.scss";
@import "animations.scss";
@import "timepicker.scss";
@import "custom-styles.scss";
